/* Colors */

:root {
	--error: #f31260;
	--warning: #f5a524;
	--primary: #0072f5;
	--success: #17c95d;
}

* {
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

/* Length input */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
	appearance: textfield;
}

/* Password output */

#finalPwd {
	width: 80vw;
	font-size: 20px;
	font-weight: 400;
	overflow: auto;
}

/* General slider settings */

input#slider {
	-webkit-appearance: none;
	appearance: none;
	width: 60%;
	height: 10px;
	border-radius: 25px;
	outline: none;
	opacity: 0.8;
	margin: auto;
	width: 50vw;
}

input#slider:hover {
	opacity: 1.1;
	transition: all 0.2s ease-out;
}

input#slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	border: solid 2px;
	cursor: pointer;
	background: #212121;
}

/* Error slider */

input#slider.error {
	background-color: var(--error);
}

input#slider.error::-webkit-slider-thumb {
	border-color: var(--error);
}

input#slider.error::-webkit-slider-thumb:hover {
	background: var(--error);
}

/* Warning slider */

input#slider.warning {
	background-color: var(--warning);
}

input#slider.warning::-webkit-slider-thumb {
	border-color: var(--warning);
}

input#slider.warning::-webkit-slider-thumb:hover {
	background: var(--warning);
}

/* Primary slider */

input#slider.primary {
	background-color: var(--primary);
}

input#slider.primary::-webkit-slider-thumb {
	border-color: var(--primary);
}

input#slider.primary::-webkit-slider-thumb:hover {
	background: var(--primary);
}

/* Success slider */

input#slider.success {
	background-color: var(--success);
}

input#slider.success::-webkit-slider-thumb {
	border-color: var(--success);
}

input#slider.success::-webkit-slider-thumb:hover {
	background: var(--success);
}
